 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
 }

 html,
 body {
    height: 100%;
 }

 header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
       display: flex;
       gap: 4.36px;
       font-size: 19.85px;
       font-weight: 600;
       text-decoration: none;
       color: #c92071;
    }
 }

 main {
    padding: 63px 0 82px;
    background: linear-gradient(#B5B6F2, #EFEFFF);

    form {
       width: 315px;
       margin: 0 auto;
       background-color: #fff;
       padding: 30px;
       display: flex;
       flex-direction: column;
       gap: 30px;
       border-radius: 4px;

       .title-box {
          h1 {
             font-size: 22px;
             line-height: 34px;
             letter-spacing: 2px;
             text-align: center;
             color: #1f1f1f;
          }

          p {
             font-size: 14px;
             line-height: 24px;
             letter-spacing: 0.25px;
             text-align: center;
             color: #474747;

             a {
                color: inherit;
             }
          }
       }

       .input-box {
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
             font-weight: 700;
             font-size: 12px;
             line-height: 24px;
             letter-spacing: 0.75px;
             color: #474747;
          }

          input {
             height: 60px;
             border: none;
             outline-color: #c92071;
             border-radius: 8px;
             background-color: #4747470a;
             padding: 0 12px;
             font-size: 16px;
             line-height: 28px;
             letter-spacing: 0.75px;

             &::placeholder {
                color: #66666699;
             }
          }
       }

       button {
          height: 48px;
          border: none;
          background-color: #c92071;
          border-radius: 8px;
          color: #f5f5f5;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.75px;

          &:active {
             background-color: #991956;
          }
       }

       .else-box {
          height: 66px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin: 0 auto;

          small {
             font-weight: 500;
             color: #474747;
             font-size: 14px;
             line-height: 22px;
             letter-spacing: 0.25px;
          }

          ul {
             display: flex;
             gap: 24px;
             margin: 0 auto;
          }

       }
    }
 }

 footer {
    background-color: #1F1F1F;
    padding: 50px 20px 46px;

    * {
       text-decoration: none;
       color: #fff;
       line-height: 1;
       font-size: 16px;
       font-weight: 400;
       font-style: normal;
    }

    .top {
       display: flex;
       flex-direction: column;
       gap: 40px;
       margin-bottom: 40px;

       .social {
          a {
             display: flex;
             gap: 5.38px;
             margin-bottom: 20px;

             img {
                width: 22px;
             }

             span {
                font-weight: 600;
                font-size: 24px;
             }
          }

          p {
             font-size: 14px;
             font-weight: 500;
             line-height: 22px;
             letter-spacing: 0.25px;
             margin-bottom: 30px;
             max-width: 307px;
          }

          ul {
             display: flex;
             gap: 36px;

             li,
             img {
                height: 22px;
             }
          }

       }

       .more {
          display: flex;
          gap: 32px;

          .information,
          .category {
             h2 {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 10px;
             }

             a {
                line-height: 31px;
                font-weight: 400;
             }
          }

       }

       .contact {
         max-width: 281px;

          h2 {
             font-weight: 600;
             font-size: 18px;
             margin-bottom: 10px;
          }

          address, span {
             line-height: 31px;
          }

          span {
             display: block;
             margin-top: 42.8px;
          }
       }
    }

    .bottom {
       hr {
          opacity: 0.3;
          margin-bottom: 23px;
       }

       small {
          display: block;
          margin: 0 auto;
          text-align: center;
          line-height: 24px;
          font-size: 13px;
       }
    }
 }